<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../public/css/bootstrap-5.3.0-alpha1.min.css">
    <link rel="stylesheet" href="../public/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../public/css/style.css">

</head>

<body>

    <header class="main-header">
        <nav class="top-nav">
            <div class="main-logo">
                <a href="#">
                    <img src="../public/images/logo.png">
                </a>
            </div>
            <div class="search">
                <span>Search</span> <span class="pipe">|</span> <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="right">
                <span class="user-sign-in item">
                    <a href="#">
                        <i class="fa-sharp fa-solid fa-circle-user fa-lg me-1"></i>
                        <span>Sign In</span>
                    </a>
                </span>

                <span class="divider">|</span>

                <span class="notification item">
                    <i class="fa-solid fa-bell"></i>
                    <span class="counter">2</span>
                </span>

                <span class="divider">|</span>

                <button class="add-listing">
                    <img src="../public//images/list-property-icon.png">
                    Add Listing
                </button>
            </div>
            <button id="navbar-toggler" class="btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>
        <ul class="nav">
            <li>Buy</li>
            <li>Sell</li>
            <li>Builders</li>
            <li>Agents</li>
            <li>Calculators</li>
            <li>Blog</li>
            <li>About</li>
        </ul>
    </header>

    <section id="main-banner">
        <div class="content">
            <h1>Explore Best Places In City</h1>
            <p>Find some of the best deal in the city.</p>

            <div id="banner-search">
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass text-info"></i>
                    <input type="text" placeholder="What are you looking for?" />
                </div>

                <div class="location">
                    <i class="fa-solid fa-location-dot text-info"></i>
                    <input type="text" placeholder="Location" />
                </div>

                <div class="filters">
                    <i class="fa-solid fa-filter text-info"></i>
                    <input type="text" placeholder="Filters" />
                </div>

                <div class="search-btn justify-content-end">
                    <button class="btn btn-sm p-0">
                        <span>Search</span>
                        <img src="../public/images/icons/search.png" />
                    </button>
                </div>
            </div>

            <hr class="horizontal-divider" />
            <div class="categories">
                <div class="d-flex justify-content-center flex-wrap">
                    <a href="#" class="cat">
                        <div class="inner-box">
                            <img src="../public/images/icons/cityscape.png" class="img-fluid">
                            <p>Navi Mumbai</p>
                        </div>
                    </a>
                    <a href="#" class="cat">
                        <div class="inner-box">
                            <img src="../public/images/icons/cityscape.png" class="img-fluid">
                            <p>Mumbai</p>
                        </div>
                    </a>
                    <a href="#" class="cat">
                        <div class="inner-box">
                            <img src="../public/images/icons/cityscape.png" class="img-fluid">
                            <p>Pune</p>
                        </div>
                    </a>
                    <a href="#" class="cat">
                        <div class="inner-box">
                            <img src="../public/images/icons/cityscape.png" class="img-fluid">
                            <p>Bangalore</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <i class="down fa-solid fa-angles-down"></i>
    </section>

    <section id="home-stats">
        <h3 class="text-center section-heading">Featured Builders Around You</h3>
        <hr class="horizontal-divider1" />

        <!-- <div class="listing-1">
            <a href="#" class="">
                <img src="https://townhub.kwst.net/images/all/60.jpg" class="img-fluid"/>
            </a>
            <h4>HELLO</h4>
        </div> -->

    </section>


    <script src="../public/js/bootstrap-5.3.0-alpha1-bundle.min.js">
    </script>
</body>

</html>