<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../public/css/bootstrap-5.3.0-alpha1.min.css">
    <link rel="stylesheet" href="../public/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../public/css/style.css">

</head>

<body>

    <header class="main-header">
        <nav class="top-nav">
            <div class="main-logo">
                <img src="../public/images/logo.png">
            </div>
            <div class="search">
                <span>Search</span> <span class="pipe">|</span> <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </nav>

        <ul class="nav">
            <li>Home</li>
            <li>Buy</li>
            <li>Sell</li>
            <li>About</li>
        </ul>
    </header>







    <script src="../public/js/bootstrap-5.3.0-alpha1-bundle.min.js">
    </script>
</body>

</html>