<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../public/css/bootstrap-5.3.0-alpha1.min.css">
    <link rel="stylesheet" href="../public/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/listing.css">
</head>

<body>

    <!-- <header class="main-header">
        <nav class="top-nav">
            <div class="main-logo">
                <a href="#">
                    <img src="../public/images/logo.png">
                </a>
            </div>
            <div class="search">
                <span>Search</span> <span class="pipe">|</span> <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="right">
                <a href="#">
                    <i class="fa-sharp fa-solid fa-circle-user fa-lg"></i>
                    <span>Sign In</span>
                </a>
                <span>|</span>
                <span>
                    <i class="fa-solid fa-bell"></i>
                </span>
                <span>|</span>
                <a href="#" class="btn btn-light text-dark add-listing">
                    <img src="../public//images/list-property-icon.png">
                    Add Listing
                </a>
            </div>
        </nav>

        <ul class="nav">
            <li>Home</li>
            <li>Buy</li>
            <li>Sell</li>
            <li>About</li>
        </ul>
    </header> -->

    <div class="main-contain">
        <div class="listing-hero-section">
            <div class="container">
                <div class="row border_bottom">
                    <div class="col-md-8">
                        <h1>Iconic Cafe in Manhattan</h1>
                        <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i>
                                Mumbai, IN</a> <a href="#"> <i class="fas fa-phone"></i>+38099231212</a>
                            <a href="#"><i class="fas fa-envelope"></i> yourmail@domain.com</a></div>
                    </div>
                    <div class="col-md-4">
                        <div class="fl-wrap list-single-header-column custom-scroll-link"></div>
                    </div>
                </div>
                <div class="d-flex justify-content-between pt-4">
                    <div class="left">
                       <ul>
                        <li>Restorants</li>
                        <li>By Alisha Noory</li>
                        <li><button class="transparent-btn"><i class="fas fa-share"></i> Open Now</button></li>
                       </ul>
                    </div>
                    <div class="right">
                        <button class="transparent-btn"><i class="fas fa-eye"></i> Views</button>
                        <button class="transparent-btn"><i class="fas fa-share"></i> Share</button>
                    </div>
                </div>
                <!-- <div class="row pt-4">
                    <div class="col-md-8">
                       Open Now
                    </div>
                    <div class="col-md-4">
                     <button class="transparent-btn"><i class="fas fa-eye"></i> Views</button>
                     <button class="transparent-btn"><i class="fas fa-share"></i> Share</button>
                    </div>
                </div> -->
            </div>
        </div>

        <div class="scroll-navbar">
            <ul>
                <li>TOP</li>
                <li>DETAILS</li>
                <li>GALLERY</li>
                <li>MENU</li>
                <li>REVIEWS</li>
               </ul>
        </div>
        
    </div>

    <script src="../public/js/bootstrap-5.3.0-alpha1-bundle.min.js">
    </script>
</body>

</html>