.listing-hero-section{
    background-image: url('../images/tyler-springhetti-mKizNwDrLh4-unsplash.jpg');
    padding-top: 250px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.listing-hero-section h1{
    color: #fff;
}


.geodir-category-location a{
    text-decoration: none;
    color: #fff;
}

.list-single-header-column{

}

.border_bottom{
    contain: '';
    border-bottom: 1px solid red;
    margin-bottom: 5px;
}

.transparent-btn{
    padding: 5px 30px 5px 30px;
    border-radius: 50px;
    border: 1px dashed rgba(255,255,255, 0.21);
    background: rgba(255,255,255, 0.11);
    color: #fff;
}
.transparent-btn:hover{
    background: #0d6efd40
}


.listing-hero-section ul{
    list-style: none;
}

.listing-hero-section ul li{
float: left;
padding: 15px;
color:#fff;
}




.scroll-navbar{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: #333;
  }
  .scroll-navbar ul {
   list-style-type: none;
     margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .scroll-navbar li {
    float: left;
  }
  
  .scroll-navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
  }
  
  .scroll-navbar li a:hover {
    background-color: #111;
  }

