body {
    color: #626262;
    font-family: 'Roboto';
}

.horizontal-divider {
    width: 80px;
    margin: 25px auto;
    display: block;
    border: 1px solid #4DB7FE;
    opacity: 0.5;
    border-radius: 4px;
}

.horizontal-divider1 {
    width: 80px;
    margin: 25px auto;
    display: block;
    border: 2px solid #4DB7FE;
    border-radius: 4px;
    opacity: 1;
}

.p-50-30 {
    padding: 50px 30px;
}

.p-50 {
    padding: 50px 0;
}

/*======================= HEADER CSS ===========================*/
.main-header .main-nav {
    background: #2e3f6e;
    padding: 10px 20px;
    display: flex;
}

.nav {
    display: flex;
}

.main-header .top-nav {
    background: #2e3f6e;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.main-logo {
    display: flex;
    align-items: center;
}

.main-logo img {
    width: 200px;
}

.main-header .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 45px;
    margin-left: 70px;
    padding: 10px 40px;
    border-radius: 30px;
    position: relative;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    background: #3d528b;
    cursor: pointer;
}

.main-header .search .pipe {
    font-size: 9px;
    color: #c5c5c5;
    font-weight: 800;
}

.main-header .search .fa-magnifying-glass {
    color: #3eaafd;
    font-size: 15px;
}

.top-nav .right {
    margin-left: auto;
    padding: 0 20px;
    background: #3d528b;
    width: 450px;
    height: 74px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav .right .item {
    color: #eee;
}

.top-nav .right .divider {
    color: #a7a7a7;
}

.top-nav .right::before {
    content: "";
    border-top: 74px solid #2e3f6e;
    border-right: 50px solid #3d528b;
    position: absolute;
    top: 0;
    left: -48px;
}

.top-nav .right a {
    text-decoration: none;
    color: #eee;
    font-size: 14px;
    font-weight: 600;
}

.top-nav .notification {
    position: relative;
    cursor: pointer;
}

.top-nav .notification .counter {
    position: absolute;
    top: -2px;
    right: -10px;
    font-size: 11px;
    width: 16px;
    height: 16px;
    background: #da0000;
    color: #ffffff;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
}

.top-nav .add-listing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 3px solid #e1e1e14a;
    background: linear-gradient(45deg, #abe3ff, white);
    border: 0;
    padding: 10px 27px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    transition: 0.2s;
}

.top-nav .add-listing:hover {
    background: linear-gradient(45deg, #dbdbdb, white);
    outline: none;
}




.top-nav .add-listing img {
    width: 16px;
    margin-right: 8px;
}

.main-header .nav {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background: linear-gradient(360deg, #2e3f6e, #3d528b);
    color: #eee;
    font-weight: bold;
    font-size: 14px;
}

.main-header .nav li {
    margin: 0 30px;
    cursor: pointer;
}

.section-heading {
    text-align: center;
    color: #697891;
    font-size: 34px;
    font-weight: 800;
    position: relative;
}

/*======================= BANNER CSS ===========================*/
#main-banner {
    height: 500px;
    background: url(../images/realestate/bedroom.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#main-banner .content {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000922b8;
    text-align: center;
    padding: 100px 50px;
    color: #fff;
}

#main-banner .content h1 {
    font-weight: 800;
}

#banner-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    max-width: 900px;
    height: 60px;
    background: #fff;
    margin: auto;
    border-radius: 10px;
    outline: 5px solid #ffffff3b;
}

#banner-search>* {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0px 10px;
}

#banner-search>*:nth-child(1) {
    border-right: 1px solid #d4d4d4;
}

#banner-search>*:nth-child(2) {
    border-right: 1px solid #d4d4d4;
}

#banner-search .search-btn {
    width: unset;
    padding: 0;
}

#banner-search .search-btn span {
    display: none;
}

#banner-search .search {
    padding-left: 0;
}



#banner-search input {
    width: 100%;
    height: 50px;
    border: none;
    padding-left: 10px;
}

#banner-search input:focus {
    outline: none;
}

#main-banner .categories .cat {
    background: linear-gradient(45deg, white, #bde8ff);
    color: #000;
    width: 120px;
    height: 65px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 20px;
}

#main-banner .categories .cat p {
    margin: 0;
}

#main-banner .categories a {
    text-decoration: none;
}



#navbar-toggler {
    margin-right: 20px;
    margin-left: auto;
    border-radius: 5px;
    display: none;
    width: 40px;
    background: linear-gradient(45deg, #abe3ff, white);
}

#main-banner::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 68px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url(../images/background/curve.svg);
    bottom: -29px;
    left: 0;
    z-index: 1;
}

#main-banner .down {
    position: absolute;
    bottom: 5px;
    right: calc(50% - 8px);
    z-index: 2;
    cursor: pointer;
    transition: 0.1s;
    color: #3eaaf2;
}

#main-banner .down:hover {
    transform: scale(1.2);
}

#top-projects {
    background: #fff;
    ;
}

#featured-specialist {
    background: #f2f2f2;
    position: relative;
}

#featured-specialist::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #f2f2f2;
    border-left: 30px solid transparent;
    top: -30px;
    left: calc(50% - 30px);
}

#featured-specialist::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 68px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url(../images/background/curve.svg);
    bottom: -29px;
    left: 0;
    z-index: 1;
}

.btn-view {
    background: #384F95;
    padding: 10px 5px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    transition: all 200ms linear;
    display: block;
    margin: 30px auto 30px auto;
    width: 140px;
    text-align: center;
    text-decoration: none;
}

/* listing card 1*/
.listing-1 {
    /* width: 439px; */
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.listing-1 .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    color: #fff;
    background: radial-gradient(rgb(0 0 0 / 30%), rgb(0 0 0 / 70%));
}

.listing-1 .content .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
    flex-wrap: wrap;
}

.listing-1 .content .header .badge {
    background: linear-gradient(45deg, #9dffa2, #fffd85);
    padding: 7px 15px;
    color: #000;
    font-weight: 800;
    font-size: 15px;
}

.header .add-to-wishlist {
    background: white;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #ff0000;
}

.listing-1 .content .body {
    padding: 10px 10px 0px 10px;
    /* background: rgb(0 0 0 / 50%); */
    text-align: left;
}

.listing-1 .content .body .title {
    font-size: 17px;
    font-weight: 600;
}

.listing-1 .content .body .price {
    font-weight: 800;
    background: #000;
    padding: 0px 10px;
    margin-bottom: 6px;
    display: inline-block;
    border-radius: 6px;
}

.listing-1 .content .body .description {
    font-size: 12px;
    margin: 0;
    padding-bottom: 5px;
}

.listing-1 .content .body .description .badge {
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 13px;
    background: #fff;
    color: #000;
}

.listing-1 .content .body .description .badge.location {
    color: #00106d;
    background: linear-gradient(45deg, #9dffa2, #fffd85)
}

.listing-1 .content .body .description .badge.location i {
    color: green;
}


.listing-1 .content .footer {
    border-top: 1px solid;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0 0 0 / 50%);
}

.listing-1 .content .footer .actions span {
    padding: 6px 10px;
    border-radius: 5px;
    margin-right: 5px;
}

.listing-1 .content .footer .actions .phone {
    background: #008000;
    color: #fff;
}

.listing-1 .content .footer .profile img {
    width: 36px;
    background: #fff;
    border: 2px solid white;
    border-radius: 50%;
}

.listing-1 .content .footer .profile {
    font-size: 16px;
    font-weight: 800;
    display: flex;
    align-items: center;
}

.listing-1 .content .footer .profile .company-name {
    line-height: 12px;
    margin-left: 5px;
}

/* // listing card 1*/

/* listing card 2*/

.listing-2 {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 3px 1px;
    margin-top: 30px;
    width: 275px;
    height: 230px;
}

.listing-2 .img-box {
    position: relative;
    overflow: hidden;
}

.listing-2 .img-box .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.listing-2 .img-box .header .badge img {
    width: 32px;
    background: #fff;
    border-radius: 50%;
}

.listing-2 .img-box .header .badge {
    display: flex;
    align-items: center;
}

.listing-2 .img-box .header .badge span {
    margin-left: 5px;
    font-size: 16px;
}

.listing-2 .content {
    position: relative;
    padding: 45px 15px 15px 15px;
}

.listing-2 .content .profile {
    position: absolute;
    width: 70px;
    top: -35px;
    left: calc(50% - 35px);
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    border: 4px solid #4b4b4b;
}

.listing-2 .title {
    font-size: 18px;
}

.listing-2 .description .joining-date {
    font-size: 14px;
}

.listing-2 .description .rating {
    text-align: center;
}

.listing-2 .description .services {
    text-align: center;
}

.listing-2 .description .services .badge {
    color: #000;
    border: 1px solid #ddd;
    margin: 6px 2px;
    box-shadow: 0 0 2px 0px;
}

.listing-2 .contact-btn {
    outline: 3px solid #e1e1e14a;
    background: linear-gradient(45deg, #abe3ff, white);
    border: 0;
    padding: 5px 25px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    display: block;
    transition: 0.2s;
    margin: 14px auto 3px auto;
}

/* // listing card 2*/


/* MEDIA QUERIES */
@media(max-width: 1044px) {
    .main-logo img {
        width: 130px;
    }

    .top-nav .right {
        width: 373px;
        height: 74px;
    }

    .main-header .search {
        width: 145px;
        margin-left: 25px;
        padding: 10px 21px;
        font-size: 13px;
    }

    .main-header .nav {
        padding: 6px 0px;
    }
}

@media(max-width: 768px) {
    .main-header .top-nav {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .top-nav .right {
        display: none;
    }

    .main-header .search {
        display: none;
    }

    .main-header .nav {
        display: none;
    }

    #navbar-toggler {
        display: block;
        height: 28px;
        line-height: 14px;
    }

    #main-banner .content {
        position: unset;
    }

    #main-banner {
        height: unset;
    }
}

@media(max-width: 480px) {
    #banner-search {
        flex-wrap: wrap;
        height: unset;
    }

    #banner-search>* {
        border-right: unset !important;
        border-bottom: 1px solid #ddd;
        padding: 0;
        height: unset;
    }

    #banner-search .search-btn {
        width: 100%;
        justify-content: center !important;
    }

    #banner-search .search-btn span {
        display: unset;
    }

    #banner-search .search-btn img {
        display: none;
    }

    #banner-search .search-btn button {
        padding: 5px 15px !important;
        margin: 11px;
        background: #2e3f6e;
        color: #fff;
        font-weight: 600;
    }

    #main-banner .content {
        padding: 100px 15px;
    }
}

@media(max-width: 991px) {

    .listing-1 {
        width: 100%;
    }

    .listing-1 .content {
        position: unset;
    }

    .listing-1 .content .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .listing-1 .content .body {
        margin-top: 0 !important;
        background: rgb(0 0 0 / 50%);
        text-align: left;
    }

    .listing-1 .content .body .title {
        font-size: 14px;
        color: #ebebeb;
    }

    .listing-1 .content .body .description .badge {
        padding: 3px 5px;
        margin-right: 2px;
        margin-bottom: 4px;
        font-size: 12px;
    }

    .listing-1 .content .body-wrapper {
        background: #2e3458;
    }

    .listing-1 .content .footer .profile {
        font-size: 12px;
    }

    .listing-1 .content .footer .actions {
        font-size: 9px;
    }

}


.swiper {
    width: 100%;
    height: 100%;
    padding: 15px 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.slider-button {
    position: absolute;
    top: 50%;
    width: 80px;
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
    z-index: 100;
    cursor: pointer;
    background: rgb(0 0 0 / 80%);;
    box-shadow: 0 9px 26px rgba(58, 87, 135, 0.45);
    transition: all 200ms linear;
    text-align: center;
    color: #ddd;
}

.slider-button:hover {
    width: 90px;
}

.slider-next {
    right: -30px;
    padding-right: 20px;
    border-radius: 60px 0 0 60px;
}

.slider-prev {
    left: -30px;
    padding-left: 20px;
    border-radius: 0 60px 60px 0;
}