.main-header .main-nav {
    background: #2e3f6e;
    padding: 10px 20px;
    display: flex;
}

.nav {
    display: flex;
}

.main-header .top-nav {
    background: #2e3f6e;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.main-logo {
    display: flex;
    align-items: center;
}

.main-logo img {
    width: 200px;
}

.main-header .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 45px;
    margin-left: 70px;
    padding: 10px 40px;
    border-radius: 30px;
    position: relative;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    background: #3d528b;
    cursor: pointer;
}

.main-header .search .pipe {
    font-size: 9px;
    color: #c5c5c5;
    font-weight: 800;
}

.main-header .search .fa-magnifying-glass {
    color: #3eaafd;
    font-size: 15px;
}

.top-nav .right {
    margin-left: auto;
    padding: 0 20px;
    background: #3d528b;
    width: 450px;
    height: 74px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav .right span{
    color: #ddd;
}

.top-nav .right::before {
    content: "";
    border-top: 74px solid #2e3f6e;
    border-right: 50px solid #3d528b;
    position: absolute;
    top: 0;
    left: -48px;
}

.top-nav .right a {
    text-decoration: none;
    color: aliceblue;
    font-size: 14px;
    font-weight: 600;
}

.top-nav .add-listing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 4px solid #c7c7c763;
}

.top-nav .add-listing img {
    width: 16px;
    margin-right: 8px;
}

.main-header .nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: #2e315a;
    color: #c5c5c5;
}
